body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/room.gif);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    font-family: fantasy;
}

h1, h2, h3 {
    font-weight: 400;
    color: aliceblue;
    background-color: rgba(172,84,84,.7);  
}

button {
    font-size: 30px;
    font-family: fantasy;
}

button:hover {
    background-color: rgba(172,84,84,1);
    cursor: pointer;
}

.pocket:hover {
    background-color: rgba(172,84,84,.5);
    cursor: pointer;
}

#board {
    display: flex;
    width: 700px;
    height: 250px;
    margin: 50px;
    background-color: #aa5500;
    border-radius: 50px;
}

.section1 {
    display: flex;
    flex-grow: 1;
}

.section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.section3 {
    display: flex;
    flex-grow: 1;
}

.pocket {
    background-color: #EEB46D;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.store {
    flex-grow: 1;
    width: 75px;
    height: 200px;
    border-radius: 50px;
    background-color: #EEB46D;
    margin: 25px;
}

#playerb {
    grid-column: 3 / span 2;
}

#playera {
    grid-column: 1 / span 2;
}

div {
    font-size: 30px;
    font-weight: bold;
}

.marble1{
    background-image: url(./images/marble1.png);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;;
}
.marble2{
    background-image: url(./images/marble2.png);
    background-size: 45px 45px;
    background-repeat: no-repeat;
    background-position: center;;
}
.marble3{
    background-image: url(./images/marble3.png);
    background-size: 55px 55px;
    background-repeat: no-repeat;
    background-position: center;;
}
.marble4{
    background-image: url(./images/marble4.png);
    background-size: 55px 55px;
    background-repeat: no-repeat;
    background-position: center;;
}
.marble5{
    background-image: url(./images/marble5.png);
    background-size: 55px 55px;
    background-repeat: no-repeat;
    background-position: center;;
}
.marble6{
    background-image: url(./images/marble6.png);
    background-size: 55px 55px;
    background-repeat: no-repeat;
    background-position: center;;
}